body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: var(--baseBackground);
  color: var(--baseColor);
}

:root {
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --facebook: #168ef4;
  --twitter: hsl(203, 89%, 53%);
  --instagram-1: hsl(37, 97%, 70%);
  --instagram-2: hsl(329, 70%, 58%);
  --youtube: hsl(348, 97%, 39%);
  /* light theme */
  --baseBackground: hsl(0, 0%, 100%);
  --patternTop: hsl(225, 100%, 98%);
  /* top bg pattern */
  --cardBackground: hsl(227, 47%, 96%);
  /* bg cards */
  --cardTitle: hsl(228, 12%, 44%);
  /* color text */
  --baseColor: hsl(230, 17%, 14%);
  /* text */
  --switchSpinner: white;
  --switch: #5f616d;
}

.red {
  color: var(--bright-red) !important;
}

.wrapper {
  padding: 0 30px;
}

.grid {
  display: grid;
  row-gap: 25px;
}

.darkmode {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}
.darkmode__title {
  color: var(--cardTitle);
  font-weight: bold;
  margin: 0;
  line-height: 1.5;
}

.checkbox {
  display: none;
}

.checkbox:checked ~ .switch:before {
  transform: translateX(0);
}

.switch {
  height: 25px;
  display: block;
  border-radius: 20px;
  background: var(--switch);
  width: 50px;
  padding: 3px;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
}
.switch:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: var(--switchSpinner);
  border-radius: 50%;
  transform: translateX(23px);
  transition: 0.3s;
  will-change: transform;
}

.header {
  background: var(--patternTop);
  padding-bottom: 100px;
  border-radius: 0 0 20px 20px;
  padding-top: 2em;
}
.header h1 {
  margin: 0;
  font-size: 1.7em;
  color: var(--baseColor);
}
.header__total {
  color: var(--cardTitle);
  margin: 0.5em 0;
  font-weight: 700;
  border-bottom: 1px solid var(--cardTitle);
  padding-bottom: 1.5em;
}

.top-cards {
  margin-top: -50px;
  margin-bottom: 3em;
}
.top-cards .card {
  border-radius: 8px;
  overflow: hidden;
  background: var(--cardBackground);
  text-align: center;
  padding: 1.7em 0;
  position: relative;
}
.top-cards .card:before {
  content: "";
  height: 4px;
  display: block;
  background: var(--facebook);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.top-cards .card.facebook::before {
  background: var(--facebook);
}
.top-cards .card.twitter::before {
  background: var(--twitter);
}
.top-cards .card.instagram::before {
  background-image: linear-gradient(to right, var(--instagram-1) 0%, var(--instagram-2) 100%);
}
.top-cards .card.youtube::before {
  background: var(--youtube);
}
.top-cards .card__title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cardTitle);
  font-size: 0.9em;
  font-weight: bold;
}
.top-cards .card__title img {
  margin-right: 5px;
}
.top-cards .card__followers__number {
  font-size: 50px;
  font-weight: 700;
}
.top-cards .card__followers__title {
  display: block;
  text-transform: uppercase;
  color: var(--cardTitle);
  letter-spacing: 5px;
  font-size: 0.75em;
}
.top-cards .card__today {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  color: var(--lime-green);
  font-size: 0.7em;
  font-weight: bold;
}
.top-cards .card__today img {
  margin-right: 5px;
}

.overview {
  padding-bottom: 2em;
}
.overview h2 {
  color: var(--baseColor);
}
.overview .card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1em;
  background: var(--cardBackground);
  border-radius: 8px;
  padding: 1.7em;
}
.overview .card p {
  margin: 0;
}
.overview .card__views {
  color: var(--cardTitle);
  font-weight: bold;
  font-size: 0.9em;
}
.overview .card__icon {
  text-align: right;
}
.overview .card__number {
  font-weight: bold;
  font-size: 2.5em;
  line-height: 0.9;
}
.overview .card__percentage {
  text-align: right;
  color: var(--lime-green);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 0.8em;
  font-weight: bold;
}
.overview .card__percentage span {
  display: flex;
  align-items: center;
}
.overview .card__percentage img {
  margin-right: 5px;
}

@media screen and (min-width: 480px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 25px;
  }

  .wrapper {
    max-width: 1440px;
    margin: auto;
  }
}
@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
  }
}
@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 25px;
  }

  .header__total {
    border: none;
  }

  .header__grid {
    display: grid;
    grid-template-columns: 1fr 150px;
  }
}
.is-dark-mode {
  --baseBackground: hsl(230, 17%, 14%);
  --patternTop: hsl(232, 19%, 15%);
  /* top bg pattern */
  --cardBackground: hsl(228, 28%, 20%);
  /* bg cards */
  --cardTitle: hsl(228, 34%, 66%);
  /* color text */
  --baseColor: hsl(0, 0%, 100%);
  /* text */
  --switchSpinner: #262a45;
  --switch: linear-gradient(to right, #4796d2 0%, #37ce8f 100%);
}

.is-light-mode {
  --baseBackground: hsl(0, 0%, 100%);
  --patternTop: hsl(225, 100%, 98%);
  /* top bg pattern */
  --cardBackground: hsl(227, 47%, 96%);
  /* bg cards */
  --cardTitle: hsl(228, 12%, 44%);
  /* color text */
  --baseColor: hsl(230, 17%, 14%);
  /* text */
  --switchSpinner: white;
  --switch: hsl(230, 22%, 74%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --baseBackground: hsl(230, 17%, 14%);
    --patternTop: hsl(232, 19%, 15%);
    /* top bg pattern */
    --cardBackground: hsl(228, 28%, 20%);
    /* bg cards */
    --cardTitle: hsl(228, 34%, 66%);
    /* color text */
    --baseColor: hsl(0, 0%, 100%);
    /* text */
    --switchSpinner: #262a45;
    --switch: linear-gradient(to right, #4796d2 0%, #37ce8f 100%);
  }
}

/*# sourceMappingURL=styles.css.map */
